### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# import dependencies
import pandas as pd
import csv
# File to Load
file_to_load = "Resources/purchase_data.csv"

# read csv file into pandas
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# get total players by getting length of unique values
total_players = len(purchase_data["SN"].unique())
# create a data frame with total_players count 
player_count = pd.DataFrame({"Total Players":total_players},index = [0])
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#find unique items
unique_items = purchase_data['Item ID'].nunique()
uniques = purchase_data['Item ID'].unique()

#create unique item dataframe
unique_df = purchase_data.loc[uniques]

#calculate average price, total revenue and total purchases
avg_price = unique_df["Price"].mean()
total_revenue = purchase_data["Price"].sum()
total_purchases = purchase_data["Purchase ID"].count()

summary_df = pd.DataFrame([[unique_items, avg_price, total_revenue, total_purchases]], index=['Value'],
                         columns=['Uniques', 'Average Price $', 'Total Revenue $', 'Total Purchases'])

summary_df

       Uniques  Average Price $  Total Revenue $  Total Purchases
Value      179         3.095363          2379.77              780

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#dataframe to hold count results
gender_groups = purchase_data.groupby("Gender")

players = gender_groups["SN"].nunique()
percent_players = (players/total_players)*100

# Create a data frame with the summary gender data
gender_summary = pd.DataFrame({"Percent of Players":percent_players,"Total Counts":players})

# round to two decimals
gender_summary_round = gender_summary.round(2)
gender_summary_round.head()

                       Percent of Players  Total Counts
Gender
Female                              14.06            81
Male                                84.03           484
Other / Non-Disclosed                1.91            11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
gender_groups = purchase_data.groupby(["Gender"])
print(gender_groups)
#gender_groups["Purchase ID"].count().head()

#purchases by gender 
total_value = gender_groups["Price"].sum()
total_count = gender_groups["Price"].count()

total_cleaned = total_value.map("${:,.2f}".format)

#average price by gender
average_gender = gender_groups["Price"].mean()

average_gender_df = pd.DataFrame({"Average Spent $:":average_gender})
# round to two decimals
average_gender_df_round = average_gender_df.round(2)
average_gender_df_round

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001DC230ACA00>

                       Average Spent $:
Gender
Female                             3.20
Male                               3.02
Other / Non-Disclosed              3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [13]:
# create age bins
age_bins = [0, 10, 15, 20, 25, 30 , 35, 40, 100]
#assign names to age bins
group_names = ["<10", "10-15", "16-20", "21-25", "26-30", "31-35", "36-40", "40+"]

# bin purchase data by age groups
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)
purchase_data

# get age groups
age_groups = purchase_data.groupby("Age Group")


percentage_players = ((players/total_players)*100)

age_groupings = pd.DataFrame({"Percent Players":percentage_players,"Total":players})
# round to two decimals
age_groupings_round = age_groupings.round(2)
age_groupings_round

                       Percent Players  Total
Gender
Female                           14.06     81
Male                             84.03    484
Other / Non-Disclosed             1.91     11

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
# get count of purchases
purchase_count = age_groups["Age"].count()

# find the average purchase price
average_purchase = age_groups["Price"].mean()

# find total value of items sold
total_value = age_groups["Price"].sum()

# get unique players
unique_players = purchase_data["SN"].nunique()

# find the average per person
average_per_person = age_groups["Price"].sum()/unique_players
age_summary_df = pd.DataFrame({"Purchase count":purchase_count,"Average Purchase Price $":average_purchase,
                               "Total Purchase value $":total_value,"Average Purchase Total per person $":average_per_person})
# display results
# round to two decimals
age_summary_df_round = age_summary_df.round(2)
age_summary_df_round

,Purchase count,Average Purchase Price $,Total Purchase value $,Average Purchase Total per person $
Age Group,,,,
<10,32,3.40,108.96,0.19
10-15,54,2.90,156.60,0.27
16-20,200,3.11,621.56,1.08
21-25,325,3.02,981.64,1.70
26-30,77,2.88,221.42,0.38
31-35,52,2.99,155.71,0.27
36-40,33,3.40,112.35,0.20
40+,7,3.08,21.53,0.04

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
#group for top spenders
top_spenders = purchase_data.groupby("SN")

#run calculations
purchase_count = top_spenders["SN"].count()
average_purchase = top_spenders["Price"].mean()
total_bought = top_spenders["Price"].sum()

#create dataframe to display results
whale_df = pd.DataFrame({"Purchase count":purchase_count,"Average Purchase Price $":average_purchase,"Total Purchase value $":total_bought})
whale_df.sort_values(by=['SN'], inplace=True, ascending=False)

# round to two decimals
whale_df_round = whale_df.round(2)
whale_df_round.head()

,Purchase count,Average Purchase Price $,Total Purchase value $
SN,,,
Zontibe81,3,2.68,8.03
Zhisrisu83,2,3.94,7.89
Yoishirrala98,1,4.58,4.58
Yathedeu43,2,3.01,6.02
Yathecal82,3,2.07,6.22

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# group data by id and name
popular_df = purchase_data.groupby(["Item ID","Item Name"])

# find purchase count, average price and total sold
purchase_count = popular_df["Age"].count()
average_purchase = popular_df["Price"].mean()
total_value = popular_df["Price"].sum()

best_sellers = pd.DataFrame({"Purchase count":purchase_count,"Average Purchase Price":average_purchase,
                                   "Total Purchase Value $":total_value})


#sort in descending order

best_sellers["Average Purchase Price"] = best_sellers["Average Purchase Price"].map("${:.2f}".format)
best_sellers = best_sellers.sort_values("Total Purchase Value $", ascending = False)

#display results
best_sellers.head()

,,Purchase count,Average Purchase Price,Total Purchase Value $
Item ID,Item Name,,,
92,Final Critic,13,$4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,50.76
82,Nirvana,9,$4.90,44.10
145,Fiery Glass Crusader,9,$4.58,41.22
103,Singed Scalpel,8,$4.35,34.80