### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import csv
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
purchase_data['SN'].nunique()

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items = purchase_data['Item ID'].nunique()
uniques = purchase_data['Item ID'].unique()

unique_df = purchase_data.loc[uniques]
avg_price = unique_df["Price"].mean()
total_revenue = purchase_data["Price"].sum()
total_purchases = purchase_data["Purchase ID"].count()
#avg_df = pd.DataFrame[avg_price]
#total_purchases
#avg_price
#total_revenue
#unique_df
summary_df = pd.DataFrame([[unique_items, avg_price, total_revenue, total_purchases]], index=['Value'],
                         columns=['Uniques', 'Average Price $', 'Total Revenue $', 'Total Purchases'])
#summary_df.columns = ["Uniques", "Average Price", "Total Revenue", "Total Purchases"]
summary_df
#unique_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
108,108,Sondadarya58,19,Male,85,Malificent Bag,1.75
143,143,Eyista89,34,Male,124,Venom Claymore,1.29
92,92,Chadistaya75,21,Female,39,"Betrayal, Whisper of Grieving Widows",3.94
100,100,Pheodaisun84,30,Male,12,Dawne,1.02
131,131,Jiskassa76,22,Male,62,Piece Maker,1.87
...,...,...,...,...,...,...,...
47,47,Chanuchi25,20,Male,170,Shadowsteel,3.97
130,130,Maridisya31,25,Male,120,Agatha,3.08
90,90,Undosian34,21,Male,60,Wolf,3.54
177,177,Syathe73,30,Female,135,Warped Diamond Crusader,1.40
104,104,Thryallym62,24,Male,53,Vengeance Cleaver,2.05

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [46]:
#purchase_data.head()
gender_age_df = purchase_data.filter(['Gender', 'Age'])
gender_purchase_df = purchase_data.set_index("Gender", "Age")
males = gender_purchase_df.loc["Male"]
females = gender_purchase_df.loc["Female"]

#gender_purchase_df.groupby('Gender').count()
gender_purchase_df.head()

,Purchase ID,SN,Age,Item ID,Item Name,Price
Gender,,,,,,
Male,0,Lisim78,20,108,"Extraction, Quickblade Of Trembling Hands",3.53
Male,1,Lisovynya38,40,143,Frenzied Scimitar,1.56
Male,2,Ithergue48,24,92,Final Critic,4.88
Male,3,Chamassasya86,24,100,Blindscythe,3.27
Male,4,Iskosia90,23,131,Fury,1.44


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame